
    <script>
    export default {
        data() {
            return {
                table: [],
                terpilihJudul: '',
                terpilihIsi: [],
                queryIsi: [],
                query: ''
            };
        },
        mounted() {
            this.table = Object.keys(alasql.tables);
            this.pilihTable(this.table.sort()[0]);
        },
        methods: {
            pilihTable(table) {
                this.terpilihJudul = table;
                this.terpilihIsi = alasql('select * from ' + table);
            },
            jalankanQuery() {
                this.queryIsi = alasql(this.query);
            }
        }
    }
</script>

<style>
    li {
        margin-bottom: 10px;
    }

    td,
    th {
        border: 1px solid black;
        padding: 10px;
        vertical-align: top;
    }

    table {
        border-collapse: collapse;
    }

    input,
    textarea {
        display: block;
        margin-bottom: 10px;
    }
    .table-tengah {
        display: inline-block;
        overflow: auto;
        width: 50vw;
    }
</style>

<table>
    <tbody>
        <tr>
            <td>
                <ol>

                    <li v-for="x in table.sort()">
                        <a href="" @click.prevent="pilihTable(x)">

                            {{ x }}
                        </a>
                    </li>
                </ol>
            </td>
            <td class="table-tengah">
                <h1>{{ terpilihJudul }}</h1>
                <table v-if="terpilihIsi.length > 0">
                    <thead>
                        <tr>
                            <th v-for="(x, n) in terpilihIsi[0]">
                                {{ n }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="x in terpilihIsi">
                            <td v-for="n in x">{{ n }}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <h2>Query</h2>
                <form action="" @submit.prevent="jalankanQuery">
                    <textarea name="" v-model="query" id="" cols="30" rows="10"></textarea>
                    <input type="submit" value="Olahin">
                </form>
                <table v-if="queryIsi.length > 0">
                    <thead>
                        <tr>
                            <th v-for="(x, n) in queryIsi[0]">{{ n }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="x in queryIsi">
                            <td v-for="n in x">{{ n }}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
    