<!DOCTYPE html>
  <html lang="id" data-theme="light">
  
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Future Web</title>
  </head>
  
  <body>
      <script src="./lib/vue.js"></script>
      <script src="./lib/vue-router.js"></script>
      <script src="./lib/alasql.js"></script>
      <script src="./lib/swal.js"></script>
      <script src="./lib/db.js"></script>
      <script>
      function toast(teks) {
        const Toast = Swal.mixin({
          toast: true,
          position: "top-end",
          showConfirmButton: false,
          timer: 2000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener("mouseenter", Swal.stopTimer);
            toast.addEventListener("mouseleave", Swal.resumeTimer);
          },
        });

        Toast.fire({
          icon: "success",
          title: teks,
        });
      }
    </script>
      <link rel="stylesheet" href="./lib/pico.css">

      <style>
        body {
            padding: 20px;
        }
      </style>

      <script>
        let routes = [];
      </script>
  
      <div id="app">
          <router-view></router-view>
      </div>
  
      <html-vue><template id="v-9a6daa37">
    



<table>
    <tbody>
        <tr>
            <td>
                <ol>

                    <li v-for="x in table.sort()">
                        <a href="" @click.prevent="pilihTable(x)">

                            {{ x }}
                        </a>
                    </li>
                </ol>
            </td>
            <td class="table-tengah">
                <h1>{{ terpilihJudul }}</h1>
                <table v-if="terpilihIsi.length > 0">
                    <thead>
                        <tr>
                            <th v-for="(x, n) in terpilihIsi[0]">
                                {{ n }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="x in terpilihIsi">
                            <td v-for="n in x">{{ n }}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <h2>Query</h2>
                <form action="" @submit.prevent="jalankanQuery">
                    <textarea name="" v-model="query" id="" cols="30" rows="10"></textarea>
                    <input type="submit" value="Olahin">
                </form>
                <table v-if="queryIsi.length > 0">
                    <thead>
                        <tr>
                            <th v-for="(x, n) in queryIsi[0]">{{ n }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="x in queryIsi">
                            <td v-for="n in x">{{ n }}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
    </template><style>
    li {
        margin-bottom: 10px;
    }

    td,
    th {
        border: 1px solid black;
        padding: 10px;
        vertical-align: top;
    }

    table {
        border-collapse: collapse;
    }

    input,
    textarea {
        display: block;
        margin-bottom: 10px;
    }
    .table-tengah {
        display: inline-block;
        overflow: auto;
        width: 50vw;
    }
</style><script>
routes.push({
    path: '/database',
    component: {
        template: '#v-9a6daa37',
        
        data() {
            return {
                table: [],
                terpilihJudul: '',
                terpilihIsi: [],
                queryIsi: [],
                query: ''
            };
        },
        mounted() {
            this.table = Object.keys(alasql.tables);
            this.pilihTable(this.table.sort()[0]);
        },
        methods: {
            pilihTable(table) {
                this.terpilihJudul = table;
                this.terpilihIsi = alasql('select * from ' + table);
            },
            jalankanQuery() {
                this.queryIsi = alasql(this.query);
            }
        }
    
    }
});
</script><template id="v-47ca4a0d">
<h1>TODO</h1>
<form action=""><label for="">Masukkan TODO baru</label><input type="text"></form></template><script>
routes.push({
    path: '/',
    component: {
        template: '#v-47ca4a0d',
        
        data() {
            return {
                data: [],
                todoBaru: ''
            };
        },
        methods: {

            dapatkanData() {
                this.data = alasql('select * from todo order by todo');
            }
        },
        mounted() {
            this.dapatkanData();
        }
    
    }
});
</script></html-vue>
  
      <script>
  
  
          const router = VueRouter.createRouter({
              history: VueRouter.createWebHashHistory(),
              routes,
          });
  
          const app = Vue.createApp({});
          app.use(router);
          app.mount('#app');
  
      </script>
  </body>
  
  </html>