<!DOCTYPE html>
<html lang="id" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
</head>

<body>
    <script src="./lib/vue.js"></script>
    <script src="./lib/vue-router.js"></script>
    <script src="./lib/alasql.js"></script>
    <script src="./lib/swal.js"></script>
    <script src="./lib/db.js"></script>
    <script>
        function toast(teks) {
            const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 2000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener("mouseenter", Swal.stopTimer);
                    toast.addEventListener("mouseleave", Swal.resumeTimer);
                },
            });

            Toast.fire({
                icon: "success",
                title: teks,
            });
        }
    </script>
    <link rel="stylesheet" href="./lib/pico.css">

    <style>
        body {
            padding: 20px;
        }
    </style>

    <script>
        let routes = [];
    </script>

    <div id="app">
        <router-view></router-view>
    </div>

    <html-vue><template id="v-f9d04a70">
    



<table>
    <tbody>
        <tr>
            <td>
                <ol>

                    <li v-for="x in table.sort()">
                        <a href="" @click.prevent="pilihTable(x)">

                            {{ x }}
                        </a>
                    </li>
                </ol>
            </td>
            <td class="table-tengah">
                <h1>{{ terpilihJudul }}</h1>
                <table v-if="terpilihIsi.length > 0">
                    <thead>
                        <tr>
                            <th v-for="(x, n) in terpilihIsi[0]">
                                {{ n }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="x in terpilihIsi">
                            <td v-for="n in x">{{ n }}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <h2>Query</h2>
                <form action="" @submit.prevent="jalankanQuery">
                    <textarea name="" v-model="query" id="" cols="30" rows="10"></textarea>
                    <input type="submit" value="Olahin">
                </form>
                <table v-if="queryIsi.length > 0">
                    <thead>
                        <tr>
                            <th v-for="(x, n) in queryIsi[0]">{{ n }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="x in queryIsi">
                            <td v-for="n in x">{{ n }}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
    </template><style>
    li {
        margin-bottom: 10px;
    }

    td,
    th {
        border: 1px solid black;
        padding: 10px;
        vertical-align: top;
    }

    table {
        border-collapse: collapse;
    }

    input,
    textarea {
        display: block;
        margin-bottom: 10px;
    }
    .table-tengah {
        display: inline-block;
        overflow: auto;
        width: 50vw;
    }
</style><script>
routes.push({
    path: '/database',
    component: {
        template: '#v-f9d04a70',
        
        data() {
            return {
                table: [],
                terpilihJudul: '',
                terpilihIsi: [],
                queryIsi: [],
                query: ''
            };
        },
        mounted() {
            this.table = Object.keys(alasql.tables);
            this.pilihTable(this.table.sort()[0]);
        },
        methods: {
            pilihTable(table) {
                this.terpilihJudul = table;
                this.terpilihIsi = alasql('select * from ' + table);
            },
            jalankanQuery() {
                this.queryIsi = alasql(this.query);
            }
        }
    
    }
});
</script><template id="v-7f6e918f">
<h1>TODO</h1>
<form action="" @submit.prevent="baru"><label for="">Masukkan TODO baru</label><input v-model="todoBaru" type="text">
</form>
<p><label v-for="x in data" :key="x.id"><input :checked="x.is_done" @input="event => ubah(x.id, event.target.checked)"
            type="checkbox" class="cek" name="" id="">{{ x.todo
        }}</label></p>
<p><button @click="hapusSemua">Hapus semua</button></p>
<p><a href="https://kumpulan-apk.github.io/#/">Download aplikasi lainnya</a></p>
</template><style>
    .cek {
        display: inline-block;
    }
</style><script>
routes.push({
    path: '/',
    component: {
        template: '#v-7f6e918f',
        
        data() {
            return {
                data: [],
                todoBaru: ''
            };
        },
        methods: {

            dapatkanData() {
                this.data = alasql('select * from todo order by todo');
            },
            baru() {
                alasql('insert into todo (todo, is_done) values (?, ?)', [this.todoBaru, false]);
                this.dapatkanData();
                this.todoBaru = '';
                toast('TODO berhasil ditambahkan');
            },
            ubah(id, isDone) {
                alasql('update todo set is_done = ? where id = ?', [isDone, id]);
                toast('TODO berhasil diubah');
            },
            async hapusSemua() {
                let tanya = await Swal.fire('Hapus semua?');
                if (tanya.isConfirmed) {
                    alasql('delete from todo');
                    this.data = [];
                    toast('Semua data sudah dihapus');
                }
            }
        },
        mounted() {
            this.dapatkanData();
        }
    
    }
});
</script></html-vue>

    <script>


        const router = VueRouter.createRouter({
            history: VueRouter.createWebHashHistory(),
            routes,
        });

        const app = Vue.createApp({});
        app.use(router);
        app.mount('#app');

    </script>
</body>

</html>